body {
    font-family: sans-serif;
    background-color: whitesmoke;
    color: #323031;
    width: 60%;
}
.product {
    display: inline-table;
    flex-wrap: nowrap;
    margin:auto;
}
img {
    width:80px;
}

